@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://api-maps.yandex.ru/2.1/?apikey=2fb4dac4-f074-4e90-9784-c38724da9fc6&lang=ru_RU" type="text/javascript"></script>
<script src="~/js/htmlGenerator.js"></script>

<div class="text-center">
    <h1 class="display-4">Travie</h1>
</div>
<div id="main">
    <div id="details"></div>
    <div id="map"></div>
</div>

