a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

#main {
    width: 100%;
    display: flex;
}

#map {
    background-color: grey;
    flex: 1;
    height: 821px;
}

#details {    
    flex: 1;
}

.detail {
    width: 100%;
    display: flex;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.detail iframe {
    height: 185px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
}

.video {
    max-width: 300px;
    display: flex;
    margin: 2%;
}

.video-description {
    display: inline-block;
}

.video-title {
    font-weight: bold;
    font-size: 21px;
}

.channel-title {
    color: gray;
}

.location {
}

    .location img {
        max-width: 25px;
    }

.video-length {
    display: inline-block;
    color: #2ecc71;
}

.video-timecode {
    margin-left: 2%;
    display: inline-block;
    color: #e74c3c;
}